# Package Files #
*.jar
*.war
*.ear

### NPM ###
node_modules/

### Gradle ###
.gradle

### aws-export ###
src/aws-export.js

### Maven ###
target/
log/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### STS ###
.apt_generated
#.classpath #intending to let people import projects a bit easier
.factorypath
#.project #intending to let people import projects a bit easier
.settings
.springBeans
Servers/
.recommenders/
.metadata/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db


#amplify-do-not-edit-begin

amplify/#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*

#amplify-do-not-edit-end